<div>
  <h3>All of the events should show below</h3>

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>      
        <th>Time</th>
        <th>Address</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>      
        <td>{{event.time}}</td>
        <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
        <td><button [routerLink]="['detalles', event.name]">Detalle</button></td>
      </tr>
      <tr>
        <td>Invalid Event</td>
        <td>N/A</td>      
        <td>N/A</td>
        <td>N/A</td>
        <td><button [routerLink]="['detalles', 'alfaomega']">Detalle</button></td>
      </tr>
    </tbody>
  </table>
  
</div>
